

<header class="main-nav">
	<nav>
		<ul>
      <li data-controller="sections-sidebar" class="left-nav white-button"> 
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>SECTIONS</span>
        </div>
      </li>
			<li data-controller="modal" class="left-nav white-button">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>SEARCH</span>
        </div>
			</li>
      <li class="right-nav white-button"><div><i style="font-size:16px" class="fa">&#xf013;</i></div></li>
      <li class="right-nav "><div><button class="blue-button" type="button">LOG IN</button></div></li>
      <li class="right-nav"><div><button class="blue-button" type="button">SUBSCRIBE NOW</button></div></li>
		</ul>
	</nav>
</header>
