







<body> 
    
    
    <div class="masthead">
        <span class="language-nav">
            <a>CSS</a> 
            <a>HTML</a>
            <a>JAVASCRIPT</a>
            <a>RUBY</a>
        </span>
        <hr>
        <span class="logo">
        <img src="/assets/AA_Times_Logo.png" alt="logo">
        </span>
    <span class="masthead-links">
    <ul>
       <li>Tuesday, October 18, 2016</li>
       <li><i class="fa fa-newspaper-o" aria-hidden="true"></i> Today's Paper</li>
       <li><i class="fa fa-video-camera" aria-hidden="true"></i> Video</li>
       
       <li>77°F</li>
       
       <li>AAO <span id="100">+100%</span></li>
    </ul>
    </span>
    
    </div>
</body>