@use '../variables' as *;

.main-nav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.left-nav>ul,
.right-nav>ul {}

.left-nav {

  >ul {
    >li {}
  }

  span {}
}

.right-nav {
  >ul {
    >li {}

    >li:last-of-type {}
  }

  i {}
}

.left-nav>ul>li:hover,
.right-nav>ul>li:last-of-type:hover {}

.white-button div {
  border-width: thick;
  border-color: white;
  color: black;
  border-style: solid;
}

nav li {
  background-color: aqua;
  display: inline-block;
}

.right-nav {
  float: right;
}

.blue-button {
  color: white;
  background-color: #3C698E;
  // border-color: #3C698E;
  border-width: thick;
  border-style: solid;
  border-radius: 11px;
  padding: 6px;

}